body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #9a9fdb;
    font-size: 14px;
}

.hero-img {
    border-radius: 10px;
}

.header,
.hero,
.footer {
    background-color: #0a0c29;
    color: #9a9fdb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 72px;
}

.hero {
    display: flex;
    gap: 20px;
    padding: 12px 72px 60px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

.hero-bold {
    font-size: 32px;
    font-weight: bold;
}

.harvestables {
    padding: 0px 72px;
    display: flex;
}

.items {
    display: flex;
}

.quote {
    padding: 0px 72px;
}

.call-to-action {
    padding: 0px 72px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 72px;
    font-size: 12px;
}