body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #9a9fdb;
    font-size: 14px;
}

.hero-img {
    border-radius: 10px;
}

.header,
.hero,
.footer {
    background-color: #0a0c29;
    color: #9a9fdb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 72px;
}

.hero {
    display: flex;
    gap: 20px;
    padding: 12px 72px 60px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

.hero-bold {
    font-size: 32px;
    font-weight: bold;
}

.harvestables {
    padding: 20px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.harvestables-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.items {
    display: flex;
    gap: 20px;
}

.image-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.icon {
    width: auto;
    height: 60px;
}

.quote {
    padding: 40px 72px;
    background-color: #9a9fdb;
    color: #0a0c29;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.quote-text {
    font-size: 18px;
    font-style: italic;
}

.attribution {
    font-weight: bold;
}

.call-to-action {
    margin: 72px 72px;
    padding: 30px;
    background-color: #3bd9f5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cta-text-header {
    font-weight: bold;
}

.cta-text-extra {
    font-size: 12px;
}

.button {
    background-color: #3bd9f5;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: #3bd9f5;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 72px;
    font-size: 12px;
}